@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
    display: inline;
}

.caja {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    border: 2px solid black;
    margin: 1%;
    height: 10vh;

}

.elemento {
    width: 16vw;
}

.caja img {
    height: 100%
}