.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    /* Establecer estilos de botón */
}

/* Estilos para la "x" del botón de cerrar */
.close-button:before,
.close-button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: black;
}

.close-button:before {
    transform: rotate(45deg);
}

.close-button:after {
    transform: rotate(-45deg);
}

.labelsin {
    transition: all 0.2s ease-out
}